<!doctype html>
<html>
<head>
  <title>MadLibs</title>
  <link rel="stylesheet" href="static/madlibs.css">
</head>
<body>
  <h1>Create your story:</h1>
    <form action="/madlib">

        <p>Name a person <input type="text" name="person"></p>
        <p>Name a month <input type="text" name="month"></p>
        <p>Name a color <input type="text" name="color"></p>
        <p>Name a noun <input type="text" name="noun"></p>
        <p>Name another noun <input type="text" name="noun2"></p>
        <p>Name an adjective <input type="text" name="adjective"></p>
        <p>Name another adjective <input type="text" name="adjective2"></p>
        <p>Name an adverb <input type="text" name="adverb"></p>
        <p>Name a verb <input type="text" name ="verb"></p>
        <p>Name a verb in -ing form <input type="text" name="ing_verb"></p>
        <p>Finally, name another verb <input type="text" name="verb2"></p>

        <input type="submit">
    </form>
</body>
</html>